{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>People's Pharma - Login</title>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'Style/login.css' %}">
</head>
<body>

<div class="container">

    <div class="left">
        <div class="logo">People's Pharma</div>
        <div class="subtitle">
            Pharmacy Management System for managing
            medicines, sales, purchases, inventory and reports.
        </div>

        <div class="features">
            <div>✓ Sales Tracking</div>
            <div>✓ Inventory Management</div>
            <div>✓ Purchase Records</div>
            <div>✓ Business Analytics</div>
        </div>
    </div>

    <div class="right">
        <div class="login-box">

            <h2>Welcome Back</h2>
            <p>Login to your account</p>

            <form method="POST">
                {% csrf_token %}

                <div class="input-group">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Enter your email" required>
                </div>

                <div class="input-group">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Enter your password" required>
                </div>
                {% if error %}
                    <p style="color: rgb(241, 61, 61);">{{ error }}</p>
                {% endif %}
                
                <button type="submit" class="btn">
                    Login
                </button>

                <div class="footer">
                    Don't have an account?
                    <a href="#">Contact Admin</a>
                </div>
            </form>

        </div>
    </div>

</div>

</body>
</html>